
# Emacs ignores
*~
\#*\#
.\#*

###
logs
*.pid
*.log

### Partial Python.gitignore from github

*.py[cod]
*.pyc
*.pyo

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
